= devise_error_messages!
= form_for(resource,
as: resource_name,
url: registration_path(resource_name),
html: { method: :put }) do |f|
  %h4= t('edit')
  .card.text-center
    .card-header
      = image_tag current_user.avatar.norm.url,
      class: 'edit_user-avatar'
    .card-body
      .form-group
        = f.check_box :remove_avatar
        = f.label :set_default_avatar
      .form-group
        = f.label :load_new_avatar
        = f.file_field :avatar
        = f.hidden_field :avatar_cache
      .form-group
        = f.email_field :email,
        autofocus: true,
        class: 'form-control devise-form',
        placeholder: true
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .form-group
        = f.text_field :name,
        class: 'form-control devise-form',
        placeholder: true
        = f.select(:language,
        User.languages.map { |k, _v| [k, k] },
        {},
         class: 'form-control devise-form')
      .form-group
        = f.label :password
        %i= t('devise.registrations.leave_it_blank')
        %br/
        = f.password_field :password,
        autocomplete: 'off',
        class: 'form-control'
        - if @minimum_password_length
          %br/
          @minimum_password_length.to_s
          %i= t('devise.registrations.characters_minimum')
      .form-group
        = f.password_field :password_confirmation,
        autocomplete: 'off',
        class: 'form-control',
        placeholder: true
      .form-group
        %i= t('devise.registrations.we_need_current_password_to_confirm_changes')
        %br/
        = f.password_field :current_password,
        autocomplete: 'off',
        class: 'form-control',
        placeholder: true
      .actions
        = f.submit t('update'),
        class: 'btn btn-lg btn-primary'
        = link_to t('back'),
        :back,
        class: 'btn btn-lg btn-secondary'
.card-footer
  %p
    = button_to t('devise.registrations.cancel_account'),
    registration_path(resource_name),
    data: { confirm: t('are_you_sure') },
    method: :delete, class: 'btn btn-lg btn-danger'
%hr/
