= devise_error_messages!
= form_for(resource, as: resource_name, url: registration_path(resource_name),
  html: { method: :put, multipart: true, class: 'form-signin' }) do |f|
  %h4= t('edit') #{resource_name.to_s.humanize}
  .card.text-center
    .card-header
      .card-body
      = image_tag current_user.avatar.norm.url, class: 'edit_user-avatar'
      .form-group
        = f.check_box :remove_avatar
        = f.label :set_default_avatar
  = f.label :load_new_avatar
  = f.file_field :avatar
  = f.hidden_field :avatar_cache
  %br/
  %br/
  = f.email_field :email, autofocus: true, class: 'form-control devise-form', placeholder: true
  = f.text_field :name, class: 'form-control devise-form', placeholder: true
  = f.select( :language, User.languages.map { |k, _v| [k, k] }, {}, { class: 'form-control devise-form' })

  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  %i (leave blank if you don't want to change it)
  = f.password_field :password, autocomplete: 'off', class: 'form-control devise-form', placeholder: true
  - if @minimum_password_length
    %em
      = @minimum_password_length
      characters minimum
    = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control devise-form', placeholder: true
    %b (we need your current password to confirm your changes)
    %br/
  = f.password_field :current_password, autocomplete: 'off', class: 'form-control devise-form', placeholder: true
  .actions
    = f.submit 'Update', class: 'btn btn-primary'
    = link_to 'Back', :back, class: 'btn btn-secondary'
    = button_to 'Cancel my account', registration_path(resource_name),
    data: { confirm: t('are_you_sure') },
    method: :delete, class: 'btn btn-danger'

