%p
  %strong= Reminder.human_attribute_name(:name)
  = @reminder.name

%p
  %strong= Car.model_name.human
  = @reminder.car.decorate.name

%p
  %strong= Reminder.human_attribute_name(:reminder_date)
  = l_date(@reminder.reminder_date)
%p
  %strong= Reminder.human_attribute_name(:mileage)
  = @reminder.decorate.mileage

%p
  %strong= Reminder.human_attribute_name(:note)
  = @reminder.note

= link_to t('destroy'),
  @reminder, method: :delete, data: { confirm: t('are_you_sure') },
  class: 'btn btn-danger'

= link_to t('edit'), edit_reminder_path(@reminder), class: 'btn btn-success'
= link_to t('back'), reminders_path, class: 'btn btn-secondary'
