%p
  %strong Name:
  = @reminder.name
%p
  %strong Reminder date:
  = @reminder.reminder_date
%p
  %strong Reminder note:
  = @reminder.note
%p
  %strong Mileage:
  = @reminder.mileage
%p
  %strong Car:
  = @reminder.car.brand
  = @reminder.car.model
  = @reminder.car.registration_number
