%h4 #{ t('.last_added') }

%table.table.table-sm
  %thead
    %tr
      %th{scope: 'col'} #{ t('.car') }
      %th{scope: 'col'} #{ t('.mileage') }
      %th{scope: 'col'} #{ t('.date') }
  %tbody
    - data[:mileages].each do |mileage|
      %tr
        %td= mileage.car.decorate.name
        %td= mileage.meter_status
        %td= mileage.date
