%h4 #{ t('.last_added') } (#{ link_to t('.all'), mileages_path })

%table.table.table-sm
  %tr
    %th= Car.model_name.human
    %th= Mileage.human_attribute_name :meter_status
    %th= Mileage.human_attribute_name :date

  - data[:mileages].each do |mileage|
    %tr
      %td= mileage.car.decorate.name
      %td= mileage.meter_status
      %td= mileage.date