= link_to t('add_new'), new_mileage_path(@mileage), class: 'btn btn-primary'

.autopagerize_page_element
  %table.table.table-hover
    %thead
      %tr
        %th{ scope: 'col' }= Car.model_name.human
        %th{ scope: 'col' }= Mileage.human_attribute_name :meter_status
        %th{ scope: 'col' }= Mileage.human_attribute_name :date
        %th{ scope: 'col', colspan: '2' }

    %tbody
      = render @mileages

= paginate @mileages
