.autopagerize_page_element
  %table.table.table-hover
    %thead
      %tr
        %th{:scope => "col"} #{t('.car')}
        %th{:scope => "col"} #{t('.meter_status')}
        %th{:scope => "col"} #{t('.date')}
    %tbody
      - @mileages.each do |mileage|
        %tr
          %td #{ mileage.car.decorate.name }
          %td #{ link_to mileage.meter_status, mileage }
          %td #{ mileage.date }

= paginate @mileages
