.row
  = render 'block', title: t('.cars'), partial_name: 'cars', data: @data
  = render 'block', title: t('.reminders'), partial_name: 'reminders', data: @data
  = render 'block', title: t('.maintenance'), partial_name: 'maintenance', data: @data
  = render 'block', title: t('.closest_service'), partial_name: 'closest_service', data: @data
  = render 'block', title: t('.mileage'), partial_name: 'mileage', data: @data
