.row
  = render 'block', title: 'Cars', partial_name: 'cars', data: @data
  = render 'block', title: 'Reminders', partial_name: 'reminders', data: @data
  = render 'block', title: 'Maintenance', partial_name: 'maintenance', data: @data
  = render 'block', title: 'Closest Service', partial_name: 'closest_service', data: @data
  = render 'block', title: 'Mileage', partial_name: 'mileage', data: @data
