.container
  .card-deck
    = render 'block', title: Car.model_name.human(count: 'few'), partial_name: 'cars', data: @data
    = render 'block', title: Reminder.model_name.human(count: 'few'), partial_name: 'reminders', data: @data
  .card-deck
    = render 'block', title: Maintenance.model_name.human(count: 'few'), partial_name: 'maintenance', data: @data
    = render 'block', title: t('.closest_service'), partial_name: 'closest_service', data: @data
  .card-deck
    = render 'block', title: Mileage.model_name.human(count: 'few'), partial_name: 'mileage', data: @data
