.jumbotron
  %h1.display-4= t('.hello')
  %p.lead= t('.create_service_book')
  %p= t('.log_in_now')
  %p.lead
    %a.btn.btn-primary.btn-lg{ href: new_user_session_path, role: 'button' }
      = t('.log_in')
%h4.text-center= t('.why_is_worth')
%h5= t('.we_have_several_reasons')
.list-group
  %button.list-group-item.list-group-item-action{ type: 'button' }= t('.less_failures')
  %button.list-group-item.list-group-item-action{ type: 'button' }= t('.increase_value')
  %button.list-group-item.list-group-item-action{ type: 'button' }= t('.makes_you_happy')
.text-center
  = image_tag 'home/motohelper.jpg', class: 'img-fluid'
%h4.text-center= t('.join_us')
%h6.text-center= t('.register_and_use')
%br/
