%h1= t('.got_idea')
%p= t('.thanks_for_getting_in_touch')
= simple_form_for @contact, url: contact_path do |f|
  = f.input :name, as: :string, label: t('.name')
  = f.input :email, as: :email, label: t('.email')
  = f.input :body, as: :text, label: t('.body'), input_html: { rows: 6 }
  = f.submit t('.send'), class: 'btn btn-primary'
