%p
  %strong= Maintenance.human_attribute_name(:name)
  = @maintenance.name

%p
  %strong= Car.model_name.human
  = @maintenance.car.decorate.name

%p
  %strong= Maintenance.human_attribute_name(:warranty_date)
  = l @maintenance.warranty_date
%p
  %strong= Maintenance.human_attribute_name(:mileage)
  = @maintenance.decorate.mileage

%p
  %strong= Maintenance.human_attribute_name(:note)
  = @maintenance.note

%p
  = link_to image_tag(@maintenance.invoice.norm.url, alt: 'Invoice', class: 'img-thumbnail'), @maintenance.invoice.url, target: '_blank'


= link_to t('destroy'), @maintenance, method: :delete, data: { confirm: t('are_you_sure') }, class: 'btn btn-danger'
= link_to t('edit'), edit_maintenance_path(@maintenance), class: 'btn btn-success'
= link_to t('back'), maintenances_path, class: 'btn btn-secondary'