= simple_form_for @car do |f|
  = f.input :brand, as: :string
  = f.input :model, as: :string
  = f.input :registration_number, as: :string
  = f.button :submit
  = link_to t('back'), :back, class: 'btn btn-secondary'
