%p "#{t('devise.mailer.reset_password_instructions.welcome')} #{@resource.email}!"
%p= t('devise.mailer.reset_password_instructions.you_can_this_through_link')
%p= link_to t('devise.mailer.reset_password_instructions.change_my_password'),
edit_password_url(@resource, reset_password_token: @token)
%p= t('devise.mailer.reset_password_instructions.ignore_this_mail')
%p= t('devise.mailer.reset_password_instructions.password_wont_change')

