%p "#{t('devise.mailer.unlock_instructions.welcome')} #{@resource.email}!"
%p= t('devise.mailer.unlock_instructions.account_locked')
%p= t('devise.mailer.unlock_instructions.unlock_instruction')
%p= link_to t('devise.mailer.unlock_instructions.unlock_instruction'),
unlock_url(@resource, unlock_token: @token)
