%nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  %a.navbar-brand{:href => "/"} MOTOHELPER
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{:href => "/"} Home
      %li.nav-item
        - if user_signed_in? and current_user.admin?
          = link_to 'Admin', admin_root_path, class: 'nav-link'
      %li.nav-item
        = link_to 'Dashboard', dashboard_index_path, class: 'nav-link'
      %li.nav-item
        %a.nav-link{:href => "#"} FAQs
    %ul.navbar-nav.my-2.my-lg-0
      - if user_signed_in?
        .dropdown.show
          %a#dropdownMenuLink.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            =image_tag current_user.avatar.url(:thumb), :class => "header-avatar"
            =current_user.name
          .dropdown-menu.dropdown-menu-left{"aria-labelledby" => "dropdownMenuLink"}
            = link_to('Edit profile', edit_user_registration_path, class: 'dropdown-item')
            = link_to('Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item')
      - else
        %li.nav-item
          = link_to('Login', new_user_session_path, class: 'nav-link')
        %li.nav-item
          = link_to('Register', new_user_registration_path, class: 'nav-link')
