%nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  %button.navbar-toggler.navbar-toggler-right{ 'aria-controls' => 'navbar-supported-content',
  'aria-expanded' => 'false',
  'aria-label' => 'Toggle navigation',
  'data-target' => '#navbar-supported-content',
  'data-toggle' => 'collapse',
  type: 'button' }
    %span.navbar-toggler-icon
  %a.navbar-brand{ href: root_path } MOTOHELPER
  .collapse.navbar-collapse#navbar-supported-content
    %ul.navbar-nav.mr-auto
      %li.nav-item
        - if user_signed_in? && current_user.admin?
          = link_to t('.admin'), admin_root_path, class: 'nav-link'
      %li.nav-item
        = link_to t('.dashboard'), dashboard_path, class: 'nav-link'
      %li.nav-item
        = link_to t('.contact'), contact_path, class: 'nav-link'
    %ul.navbar-nav.my-2.my-lg-0
      - if user_signed_in?
        .dropdown.show
          %a.btn.btn-secondary.dropdown-toggle#dropdown-menu-link{ 'aria-expanded' => 'false',
          'aria-haspopup' => 'true',
          'data-toggle' => 'dropdown',
          href: '#', role: 'button' }
            = image_tag current_user.avatar.url(:thumb), class: 'header-avatar'
            = current_user.name
          .dropdown-menu.dropdown-menu-left{ 'aria-labelledby' => 'dropdown-menu-link' }
            = link_to t('.edit_profile'), edit_user_registration_path, class: 'dropdown-item'
            = link_to t('.logout'),
              destroy_user_session_path,
              method: :delete, class: 'dropdown-item'
      - else
        %li.nav-item
          = link_to t('.login'), new_user_session_path, class: 'nav-link'
        %li.nav-item
          = link_to t('.register'), new_user_registration_path, class: 'nav-link'
