= favicon_link_tag 'icons/car-16.png', rel: 'icon', type: 'image/png', sizes: '16x16'
= favicon_link_tag 'icons/car-32.png', rel: 'icon', type: 'image/png', sizes: '32x32'
= favicon_link_tag 'icons/car-48.png', rel: 'icon', type: 'image/png', sizes: '48x48'
= favicon_link_tag 'icons/car-64.png', rel: 'icon', type: 'image/png', sizes: '64x64'

= favicon_link_tag 'icons/car-57.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '57x57'
= favicon_link_tag 'icons/car-72.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '72x72'
= favicon_link_tag 'icons/car-114.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '114x114'
= favicon_link_tag 'icons/car-120.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '120x120'
= favicon_link_tag 'icons/car-144.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '144x144'
= favicon_link_tag 'icons/car-152.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '152x152'
